<sidebar>
<div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarController" >

            <ul class="nav nav-sidebar">
                <li  ng-class="{'active': $location.url().indexOf('home')!=-1 || $location.url() == ''}" ><a href="#/home">Home </a></li>

                <!-- Volunteer -->
                <li  ng-class="{'active': $location.url().indexOf('profile')!=-1}"
                     ng-show="user!=null && type=='Volunteer'"><a href="#/profile">Volunteer Profile</a></li>

                <!-- NGO-->
                <li  ng-class="{'active': $location.url().indexOf('profile')!=-1}"
                     ng-show="user!=null && type=='NGO'">
                    <a href="#/profile">Profile NGO</a></li>

                <li  ng-class="{'active': $location.url().indexOf('projects')!=-1}"
                     ng-show="user!=null"><a href="#/projects">Projects</a></li>

                <li  ng-class="{'active': $location.url().indexOf('invites-requests')!=-1}"
                     ng-show="user!=null">
                    <a href="#/invites-requests">Invites/Requests</a></li>

            </ul>
        </div>
</sidebar>


