
<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 col-lg-7 col-lg-offset-3">
    <h1 class="page-header">Forms : Registration Form</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="forms.html">Forms</a></li>
        <li role="presentation"  class="active"><a href="form-fields.html">Fields</a></li>
    </ul>
    <div class="table-responsive table-no-border th table-no-border td">
        <table class="table ">
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="FIRST">First Name:</label>
                        <input type="email" class="form-control input-sm" id="FIRST" placeholder="First Name">
                    </div>
                </td>
                <td class="text-nowrap text-right">
                    <br>
                    <a class="btn btn-info btn-sm" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-primary btn-sm" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-danger btn-sm" href="#" role="button"><span class="glyphicon glyphicon-align-justify"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="Last Name">Last Name:</label>
                        <input type="email" class="form-control input-sm" id="Last Name" placeholder="Last Name">
                    </div>
                </td>
                <td class="text-nowrap text-right">
                    <br>
                    <a class="btn btn-info btn-sm" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-primary btn-sm" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-danger btn-sm" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="Date">Date:</label>
                        <input type="date" class="form-control input-sm" id="Date" placeholder="Select Date">
                    </div>
                </td>
                <td class="text-nowrap text-right">
                    <br>
                    <a class="btn btn-info btn-sm" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-primary btn-sm" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-danger btn-sm" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dropdown">
                        <br>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Gender
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Male</a></li>
                            <li><a href="#">Female</a></li>
                        </ul>
                    </div>
                </td>
                <td class="text-nowrap text-right">
                    <br>
                    <a class="btn btn-info btn-sm" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-primary btn-sm" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-danger btn-sm" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <br>
                        Roles:
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Admin
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                Student
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                                User
                            </label>
                        </div>
                    </label>
                </td>
                <td class="text-nowrap text-right">
                    <br>
                    <br>
                    <a class="btn btn-info btn-sm" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-primary btn-sm" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-danger btn-sm" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                    <label>License of Agreement:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                            Yes
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                            No
                        </label>
                    </div>
                </td>
                <td class="text-nowrap text-right ">
                    <br>
                    <a class="btn btn-info btn-sm" href="#" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-primary btn-sm" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-danger btn-sm" href="#" role="button"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>

            <tr>
                <td>
                    <hr>
                    <label for="dropdownMenu2" >Add New Field:</label>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Single Line Text
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Single Line Text</a></li>
                            <li><a href="#">Date</a></li>
                            <li><a href="#">Dropdown</a></li>
                            <li><a href="#">Checkboxes</a></li>
                            <li><a href="#">Radio buttons</a></li>
                            <li><a href="#">Paragraph Text Field</a></li>
                        </ul>
                    </div>
                </td>
                <td class="text-nowrap text-right">
                    <hr>
                    <a class="btn btn-primary btn-sm" href="#" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>




