<header ng-controller="HeaderController">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar,#navbar1" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">NGO Connect</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" ng-hide="user">
                <li ng-class="{active: $location.path() == '/login'}"><a href="#/login">Login</a></li>
                <li ng-class="{active: $location.path() == '/register'}"><a href="#/register">Register</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="user">
                <li  ng-class="{'active': $location.url().indexOf('profile')!=-1}">
                    <a href="#/profile"> {{type == 'NGO'? user.name : user.firstName}} {{user.name == null}}</a>
                </li>
                <li>
                <a href="#/home" ng-click="logout()">Logout</a>
            </li>
            </ul>
        </div>

       <!-- ng-show="user.name == null"-->

        <div id="navbar1" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav navbar-right visible-xs">
                <li  ng-class="{'active': $location.url().indexOf('home')!=-1}"><a href="#/home">Home </a></li>
                <li  ng-class="{'active': $location.url().indexOf('profile')!=-1}"><a href="#/profile">Profile</a></li>
                <li  ng-class="{'active': $location.url().indexOf('projects')!=-1}"><a href="#/projects">Projects</a></li>
                <li  ng-class="{'active': ($location.url().indexOf('forms')!=-1)||
                ($location.url().indexOf('fields')!=-1)}"><a href="#/forms">Forms</a></li>

            </ul>
        </div>
    </div>
    </div>
</nav>
    </header>
